/* colors */

$main: #3a2988;
$mid-main: #4833aa;
$light-main: #e1e1f2;

$light: #fafafa;
$dark: #0a0a0a;

$light-grey: #f1f3f9;
$dark-grey: #bec5e0;

$correct: lightgreen;
$incorrect: lightcoral;

$gradient-main: linear-gradient(to right, $main, $mid-main);
$gradient-bg: linear-gradient(to right, $light, $light-grey);


/* box shadow */

$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);


/* app dimensions */

$app-radius: 15px;
$header-radius: 35px;
$app-width: 400px;
$app-height: 90vh;
