/*** GLOBAL STYLES ***/

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

@import './assets/styles/variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
  letter-spacing: 1px;
  background-color: $bg;
}

a,
button,
h1,
h2,
h3,
menu,
dialog {
  all: unset;
}
