@use '../assets/styles/variables';

main {
  width: 100vw;
  max-width: variables.$app-width;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: variables.$light;

  header {
    color: variables.$light;
    border-bottom-right-radius: variables.$header-radius;
    width: 100%;
    height: 90px;
    padding: 25px 20px;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 2.5px;
    background-image: variables.$gradient-main;
  }

  div#corner {
    width: variables.$header-radius;
    height: variables.$header-radius;
    background-color: variables.$main;

    &::after {
      display: block;
      border-top-left-radius: variables.$header-radius;
      width: variables.$header-radius;
      height: variables.$header-radius;
      background-color: variables.$light;
      content: '';
    }
  }

  @media only screen and (min-width: variables.$app-width) {
    min-height: variables.$app-height;
    margin: calc((100vh - variables.$app-height) / 2) auto;
    box-shadow: variables.$shadow-xl;
    border-radius: variables.$app-radius;

    header {
      border-radius: variables.$app-radius variables.$app-radius variables.$header-radius 0;
    }
  }
}
