@import '../assets/styles/variables.scss';

main {
  width: 100vw;
  max-width: $app-width;
  min-height: 100vh;
  background-color: $light;

  header {
    color: $light;
    border-bottom-right-radius: $header-radius;
    width: 100%;
    height: 100px;
    padding: 25px 20px;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 2.5px;
    background-image: $gradient-main;
  }

  div#corner {
    width: $header-radius;
    height: $header-radius;
    background-color: $main;

    &::after {
      display: block;
      border-top-left-radius: $header-radius;
      width: $header-radius;
      height: $header-radius;
      background-color: $light;
      content: '';
    }
  }

  @media only screen and (min-width: $app-width) {
    min-height: $app-height;
    margin: calc((100vh - $app-height) / 2) auto;
    box-shadow: $shadow-xl;
    border-radius: $app-radius;

    header {
      border-radius: $app-radius $app-radius $header-radius 0;
    }

  }
}
