@import '../../../assets/styles/variables.scss';

div.modal {
  display: none;

  &.open {
    display: block;
  }

  .backdrop {
    inset: 0;
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);

    dialog {
      box-shadow: $shadow-xl;
      width: 220px;
      height: 160px;
      background: $light;
      animation: slide-in 0.7s both;

      @keyframes slide-in {
        0% {
          transform: translateY(-1000px);
        }
        100% {
          transform: translateY(0);
        }
      
      }
    }
  }
}
