<ng-template #loading>
  <div class="loader"></div>
</ng-template>

<section *ngIf="categories$ | async as categories; else loading">
  <!-- render list of categories -->
  <h2>Categories</h2>
  <menu *ngIf="categories.length > 0; else loading">
    <div *ngFor="let category of categories">
      <app-category
        *ngIf="!types.includes(category._id)"
        [category]="category"
        [background]="'image'"
      ></app-category>
    </div>
  </menu>

  <!-- render list of word types -->
  <h2>Types</h2>
  <menu *ngIf="categories.length > 0; else loading">
    <div *ngFor="let category of categories">
      <app-category
        *ngIf="types.includes(category._id)"
        [category]="category"
        [background]="'gradient'"
      ></app-category>
    </div>
  </menu>
</section>
