<section *ngIf="categories$ | async as categories">
  <!-- render list of categories -->
  <h2>categories</h2>
  <menu>
    <div *ngFor="let category of categories">
      <app-category
        *ngIf="!types.includes(category._id)"
        [category]="category"
        [background]="'image'"
      ></app-category>
    </div>
  </menu>

  <!-- render list of word types -->
  <h2>types</h2>
  <menu>
    <div *ngFor="let category of categories">
      <app-category
        *ngIf="types.includes(category._id)"
        [category]="category"
        [background]="'gradient'"
      ></app-category>
    </div>
  </menu>
</section>
