@import '../../../assets/styles/variables.scss';

div.loader {
  margin: 10px auto;
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 6px solid $mid-main;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}

@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

section {
  margin: 0 20px;
  max-height: calc(100vh - 170px);
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: $dark-grey transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-grey;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $dark-grey;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  @media only screen and (min-width: $app-width) {
    max-height: calc($app-height - 170px);
  }

  h2 {
    display: inline-block;
    margin: 16px 0 4px;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
}
