@import '../../../assets/styles/variables.scss';

section {
  margin: 0 20px;
  max-height: calc(100vh - 170px);
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: $dark-grey transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-grey;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $dark-grey;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  @media only screen and (min-width: $app-width) {
    max-height: calc($app-height - 170px);
  }

  h2 {
    display: inline-block;
    margin: 16px 0 4px;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
}
