@import '../../../assets/styles/variables.scss';

section {
  margin: 10px 20px;
  max-height: calc(100vh - 200px);
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: auto;

  @media only screen and (min-width: $app-width) {
    max-height: calc($app-height - 200px);
  }

  h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
