<section>
  <header>
    <!-- back to menu button -->
    <button routerLink="/" class="back">
      <fa-icon [icon]="faXmark"></fa-icon>
    </button>

    <!-- actual result -->
    <app-result></app-result>
  </header>
  <form
    [formGroup]="answerForm"
    [ngClass]="{ correct: correct === true, incorrect: correct === false }"
    (ngSubmit)="check()"
  >
    <!-- badges with categories -->
    <div class="tags">
      <small *ngFor="let category of categories">{{ category }}</small>
    </div>

    <!-- pl phrase -->
    <div class="pl-phrase">{{ id }}. {{ plPhrase }}</div>

    <!-- input for answer -->
    <div class="answer-input">
      <input #answerInputRef id="answerInput" type="text" formControlName="answerInput" />
    </div>

    <!-- correct answers -->
    <div
      class="correct-answers"
      [ngClass]="{ hidden: correct === undefined }"
    >
      <div *ngFor="let engPhrase of translations; index as i">
        <span [ngClass]="{ hidden: translations.length === 1 }">{{ i + 1 }}.&nbsp;</span>
        {{ engPhrase }}
      </div>
    </div>

    <!-- submit and next buttons -->
    <div class="btn-group">
      <button type="submit" [disabled]="correct !== undefined">Check</button>
      <button #nextBtnRef (click)="next()" [disabled]="nextDisabled">Next</button>
    </div>
  </form>
</section>
